<%- include("partials/header") %>

<div class="contactContent">
  <h1 class="marginDown">Contact</h1>
  <p><%= contactParagraph %></p>
  <button type="button" class="btn btn-primary btn-lg linkedinButton">
    <a href="https://www.linkedin.com/in/akash-sinha-47a9781ab/">
      Linked <i class="fab fa-linkedin"></i>
    </a>
  </button>
</div>

<%- include("partials/footer") %>
